name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@cff152341e30d8a440fe87bd072c833c846b01e1 # v1.17.4
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
