name: Test .NET solution or project
permissions:
  packages: read
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  test:
    uses: devantler-tech/reusable-workflows/.github/workflows/ci-dotnet-test.yaml@7080af2431cdd533c33685c9fc1d8d71187cdcd3 # v1.15.14
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
